body {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: rgb(178, 159, 179);
	font-family: "proxima-nova", "Source Sans Pro", sans-serif;
	font-size: 1em;
	letter-spacing: 0.1px;
	color: #32465a;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	-webkit-font-smoothing: antialiased;
}
.fa-github {
	font-size: 27px;
	color: rgb(34, 37, 41);
}
.bd-callout {
	margin-bottom: 7px;
}
.card-body {
	padding: 10px;
}
