.application {
	li {
		list-style: none;
	}

	.box {
		color: #fff;
		padding: 1em;
		text-align: center;
	}

	input {
		width: 100%;
		padding: 1em;
		outline: none;
		border: 1px solid #f2f2f2;
	}

	.app-layout {
		display: grid;
		height: 100vh;
		grid-template-columns: 0 250px 1fr;
		grid-template-rows: auto 1fr auto;
	}

	.header-bg {
		background-color: #52364e;
	}
	.teams-dark {
		background-color: #362233;
	}
	.channels-dark {
		background-color: #52364e;
	}
	.messages {
		background-color: #ffffff;
	}
	.write {
		background-color: #f2f2f2;
	}

	.channels {
		grid-column: 2;
	}

	.header {
		grid-column: 3;
		grid-row: 1;
		color: #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
	}

	.messages {
		grid-column: 3;
		grid-row: 2;
		padding: 0 1em;
		overflow-y: scroll;
	}

	.message-list {
		margin: 0;
		padding: 0;
	}

	.message-list li {
		padding: .2em;
		margin-top: 1em;
		margin-bottom: 1em;
	//	background-color: #52364e;
		list-style: none;
	}

	.input {
		grid-column: 3;
		grid-row: 3;
	}

	.left-footer {
		grid-column: 2;
		grid-row: 3;
	}
}
