html,
body,
div,
span,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
u,
i,
 section,
  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


/* HTML5 display-role reset for older browsers */

body {
    margin: 0 auto;
    background: linear-gradient(to right, rgb(62, 81, 81), rgb(222, 203, 164));
}


/* Typography */

h1 {
    font-size: 28px;
    font-weight: 300;
}

h5 {
    font-weight: 500;
    line-height: 1.7em;
}

h6 {
    color: #666;
    font-size: 14px;
}

p {
    margin: 16px 0;
    padding: 0;
}


/* notes Layout */

.main-container {
    margin: 10px 0px;
}
.add-container{
    text-align: center;
}

.list-board-header{
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    margin: 0 5px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.list-container{
    padding: 16px;
    border: 1px solid rgb(221, 221, 221);
    margin: 9px 5px;
    text-align: center;
}
.list-container h3 {
    margin: 0px 14px 10px;
    color:#fff;
}



.list-board-header input{
 
    border: 1px solid rgb(209, 213, 218);
    height: 36px;
    outline: none;
    padding: 11px 16px 11px 16px;
    box-sizing: border-box;
	background-color: rgb(250, 251, 252);
	
}

.app-container {
    display: flex;
}


.notes {
    display: flex;
    flex-wrap: wrap;
}

.cross_btn{
	position: absolute;
    right: 0;
    padding: 8px;
}

.note {
    display: flex;
	position: relative;
    flex-direction: column;
    flex: 0 19%;
    background-color: #FFF;
    margin: 5px;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
}

label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}


.note-info {
    margin-bottom: auto;
	padding: 20px 20px;
	
}

.note_title{
	font-size: 24px;
    font-weight: 500;
    margin-top: 0;
}
.note_description{
    margin-bottom: 8px;
}
.note_action{
	padding: 8px;
	border-top: 1px solid rgb(175, 169, 169);
}

.read_action {
    padding: 4px;
    border-top: 1px solid rgb(175, 169, 169);
    text-align: center;
}

.read_action a{
    text-decoration: none;
    font-size: 15px;
}
.greenbg{
	background-color: rgb(0, 128, 0);
    margin: 0;
    padding: 4px;
    border-top: 0px;
}
.yellowbg{
	background-color: yellow;
    margin: 0;
    padding: 4px;
    border-top: 0px;
}


.color1{
	background-color:  rgb(159, 197, 171)
}

.link-style{
	background: rgb(255, 255, 255);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(93, 35, 7, 0.3), 0 1px 3px 1px rgba(183, 21, 21, 0.15);
    font: 500 14px/36px Roboto,sans-serif;
    padding: 10px 10px;
    height: auto;
    width: auto;
	text-decoration: none;
	margin-right: 5px;
}


.note-info >*[contenteditable="true"] {
 border-bottom:1px solid rgb(195, 186, 186);
}
.dn{
	display: none;
}

.danger{
	background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.dangercross{
	 color: rgb(255, 0, 0);
	text-decoration: none;
}

.primary{
	background: blue;
    color: rgb(255, 255, 255);
}

.secondary{
	background: rgb(18, 195, 18);
    color: rgb(255, 255, 255);
}
.strikethrough{
	text-decoration: line-through;
}


